body {
    display: flex;
    flex-direction: column;
    padding: 100px;
    width: 100%;

}

nav {
    display: flex;
    flex-direction: row;
}

#socials {
    position: absolute;
    right: 100px;
}

main {
    display: flex;
    flex-direction: column;
}

h3, h4 {
    margin: 2px;
}

h3 {
    font-family: cursive;
    font-size: 1.5rem;
}

h4 {
    text-transform: uppercase;
    font-size: 0.5rem;
    color: grey;
}

#print {
    position: absolute;
    right: 100px;
    float: inline-end;
}